/* Type */

body {
	background-color: grey;
	color: coral;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1;
    font-size: 5em;
	position: absolute;
  transform: skewY(20deg);
	position: relative;
	right: 5px;
	position: fixed;
	bottom: -70px;

}
p {
	color: black;
	font-family: 'Mansalva', cursive;
	transform: rotate(45deg);





}

h2 {
	font-size: 1em;
	font-weight: 400;
	position: absolute;
	top: 10px;
	left: -500px;
	transform: skewY(-20deg);
}

background-color{ grey;
	border-style: solid;
	box-sizing: border-box;
